/* Darker border on hover */
.custom-checkbox:hover {
    border-color: #ffffff;
}

/* Style when checked */
.custom-checkbox:checked {
    background-color: #198754;  /* Bootstrap green */
    border-color: #198754;
}

.card.border-light {
    border-color: #bababa !important;
}


/* Blinking dot feature for the cart*/
.blink-dot {
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}


