.navbar-brand {
    font-weight: 600;
    font-size: 30px;
    padding-left: 15px;
}

.search {
    width: 500px;
}

.search-button {
    border-radius: 10px;
    border-color: lightgray;
}

.page-title {
    margin-top: 2%;
    text-align: center;
    font-weight: bold;
}

.availability-table-container {
    margin-left: 5%;   
    margin-right: 5%;
}

.availability-table-button {
    background-color: #2e8758;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 200px;
    border: solid #ccc;
}

.availability-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.availability-table th, .availability-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

.availability-table th {
    background-color: #2e8758;
    color: white;
    font-weight: bold;
}

.availability-table-button-container {
    display: flex;
    justify-content: space-evenly; 
    margin-top: 20px;
}

.expert-assignments-container {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%; 
    border: 1px solid #ccc;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    flex-grow: 1; 
    width: 100%;  
}

.card-img-top {
    object-fit: cover;
    height: 200px; 
}

.review-button {
    width: 150%;  
    max-width: 200px; 
    padding: 10px 5%; 
    background-color: #2e8758;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    border: 2px solid #ccc;
}
.card-title {
    font-weight: bold;
}

.expert-message{
    margin: 10% auto;
}

.account-form {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.expertise-form {
    width: 80%;
}

.authenticate-card{
    margin-top: 2%;
    width: 55%;
    align-items: center;
}

.authenticate-image{
    object-fit: contain;
    width: 100%;
    max-width: 750px;
}

.authentication-button-container {
    display: flex;
    justify-content: space-evenly; 
}

.authenticate-button {
    background-color: #2e8758;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 200px;
    border: solid #ccc;
    text-decoration: none;
}