.gallery {
    padding: 10px ;
}

.col {
    padding-left: 15px;
}

.card-img-top {
    max-height: 250px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    background-color: rgb(243, 242, 242);
}

.bold {
    font-weight: bold;
}

.card-body {
    text-align: center;
    text-wrap: wrap;
}

.countdown {
    font-weight: bold;
    color: #e90e0e;
}

.shipping {
    color: rgb(110, 110, 110);
    font-style: italic;
    font-weight: 400;
    font-family: 15px;
}

.fa-heart {
    font-size: 2em;
    direction: rtl;
    cursor: pointer;
    /* allows for heart to overlay image */
    position: absolute;
    top: 10px; 
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.686);
    border-radius: 20px;
    padding: 5px 8px;
    transition: all 0.3s ;
}

.fa-heart.selected {
    color: rgb(206, 15, 15);
}

.fa-heart.hover {
    color: rgb(206, 15, 15);
}

.expired-item {
    opacity: 0.8;
    
    filter: grayscale(100%);
}

.expired-text {
    font-weight: bold;
    color: gray;
}

.item-container {
    margin: 20px;
}

.image {
    max-height: 700px;
    border-radius: 20px;
}

.item-details {
    padding: 15px 0 15px 0;
}

.divider {
    border: none;
    height: 2px;
    background-color: #ccc; 
    margin: 10px 0;
    width: 100%; 
}

.username {
    font-size: 17px;
    font-style: italic;
}

.description {
    color: rgb(110, 110, 110);
    font-size: 17px;
}

.starting-price {
    font-size: 17px;
}

.current-price {
    font-size: 20px;
}

.details {
    font-weight: 400;
}

.item-buttons {
    display: block;
    padding-top: 10px;
}

#pay-now {
    margin-top: 10px; 
}

a.button {
    margin-top: 10px;
}


