/* Styles layout and spacing for navbar, search input, sort dropdown, sidebar, and custom buttons */
.navbar {
    height: auto;
}

.navbar-nav {
    padding: 0 15px 0 0;
}

.navbar-brand {
    font-weight: 600;
    font-size: 30px;
    padding-left: 15px;
}

.search {
    width: 500px;
}

.search-button {
    border-radius: 10px;
    border-color: lightgray;
}

.sort {
    padding: 20px 0 0 15px;
}

.form-select {
    width: 150px;
    height: 40px;
}

.sidebar {
    padding: 15px 0 0 0;
}

.custom-button {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


/* Animation keyframes for fading out and slightly shrinking the element and removes highest bid items that have expired using an animation */
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  
  .card.fade-out {
    animation: fadeOut 1s forwards;
  }
  