{% extends "base_expert.html" %}
{% block content %}

<h1 class="page-title">Expert History Page</h>


<!-- Approved Items Section -->
<div class="expert-history-container">
    <h3 class="expert-subtitle">Approved Items</h3>
    <div class="row row-cols-3 row-cols-md-5 g-4">
        {% if approved_items %}
            {% for item in approved_items %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='images/items/' + item.item_image) }}" 
                        class="card-img-top" alt="{{ item.item_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.item_name }}</h5>

                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="expert-message">No approved items yet.</p>
        {% endif %}
    </div>
</div>

<!-- Rejected Items Section -->
<div class="expert-history-container">
    <h3 class="expert-subtitle">Rejected Items</h3>
    <div class="row row-cols-3 row-cols-md-5 g-4">
        {% if rejected_items %}
            {% for item in rejected_items %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='images/items/' + item.item_image) }}" 
                        class="card-img-top" alt="{{ item.item_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.item_name }}</h5>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="expert-message">No rejected items yet.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
