{% extends "base_expert.html" %}
{% block content %}

<h1>Authenticate Item: {{ item_to_authenticate.item_name }}</h1>


<div class="card mx-auto" style="width: 50%;">
    <img src="{{ url_for('static', filename='images/items/' + item_to_authenticate.item_image) }}" 
         class="card-img-top" alt="{{ item_to_authenticate.item_name }}">
    <div class="card-body">
        <h5 class="card-title">Item Name: {{ item_to_authenticate.item_name }}</h5>
        <p class="card-text"><strong>Starting Price:</strong> £{{ item_to_authenticate.minimum_price }}</p>
        <p class="card-text"><strong>Shipping Cost:</strong> £{{ item_to_authenticate.shipping_cost }}</p>
        <p class="card-text"><strong>Description:</strong> {{ item_to_authenticate.description }}</p>


        <div class="d-flex justify-content-between">

            <form action="{{ url_for('approve_item', item_id=item_to_authenticate.item_id) }}" method="POST">
                <button type="submit">Approve</button>
            </form>

            <form action="{{ url_for('decline_item', item_id=item_to_authenticate.item_id) }}" method="POST">
                <button type="submit">Reject</button>
            </form>

            <form method="POST" action="{{ url_for('reassign_item', item_id=item_to_authenticate.item_id) }}">
                <button type="submit" class="button">Reassign</button>
            </form>

            <a href="{{ url_for('expert_message_seller', item_id=item_to_authenticate.item_id) }}">
                <button type="button" class="btn btn-info">Request More Details</button>
            </a>
            
        </div>

    </div>
</div>

{% endblock %}
