{% extends "userBase.html" %}
{% block content %}
<div>
    <div>
        <h1>Login</h1>
        
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div>
              {% for category, message in messages %}
                <div>{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <!-- Login form -->
        <form method="post">
            {{ form.hidden_tag() }}

            <!-- Username input -->
            <div>
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
                {% for error in form.username.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>

            <!-- Password input -->
            <div>
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>

            <!-- Submit button -->
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
