{% extends "base_manager.html" %}

{% block content %}
<!--Pie chart card-->

<img sec="{{url_for('manager_statistics_cost')}}">

<div class="container">
    <div class="row">
        <div class="card">
          <img src="data:image/png;base64,{{img_data}}" class="card-img-top" alt="...">
          <div class="card-body">
            <div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Select Chart
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Weekly Income</a></li>
                  <li><a class="dropdown-item" href="#">Weekly Cost</a></li>
                </ul>
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}