{% extends "base_manager.html" %} {% block content %}

<h1 class="title">User Information</h1>

<div class="contents">
	<div class="user-details-card-body">
    <h3 class="manager-subtext">{{ account.username}}'s Details</h3>
    <div class="account-info">
      <span class="account-value">Username :  </span>
      <span class="account-detail"> {{ account.username }} </span> 
    </div>
    <div class="account-info">
      <span class="account-value">Priority :  </span>
      <span class="account-detail"> {{ account.priority }} </span>
    </div>
      <div class="account-info">
        <span class="account-value">Email :  </span>
        <span class="account-detail">{{ account.email }} </span>
    </div>
    </div>
    <a href="{{ url_for('chat', user_id=account.id) }}" class="btn btn-info">
      Message user
    </a>
  </div>
  <h3 class="manager-subtext">{{ account.username}}'s Listings</h3>
  <div class="expert-assignments-container">
    <div class="row row-cols-2 row-cols-md-4 g-4">
      {% if items %}
          {% for item in items %}
              <div class="col">
                  <div class="card h-100">
                      <img src="{{ url_for('static', filename='images/items/' + item.item_image) }}" 
                          class="card-img-top" alt="{{ item.item_name }}">
                      <div class="card-body">
                          <h5 class="card-title">{{ item.item_name }}</h5>
                      </div>
                  </div>
              </div>
          {% endfor %}
      {% else %}
        <p class="manager-subtext">No Listings</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}