{%extends "base_manager.html"%}

{% block content %}
<!--Filter Dropdown button-->
<div>
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_filter',filter_number = 1)}}">Priority 1</a></li>
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_filter',filter_number = 2)}}">Priority 2</a></li>
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_filter',filter_number = 3)}}">Priority 3</a></li>
          </ul>
        </div>
</div>

<!--Sort Dropdown button-->
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Sort
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_sort_low_high')}}">Alphabet Low-High</a></li>
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_sort_high_low')}}">Alphabet High-Low</a></li>
          </ul>
        </div>
</div>

<!--Search Box-->
<form action="{{url_for('manager_accounts_search')}}" method = "GET">
    <div class="search-container">
        <input type="text" class="search-input" name="query" placeholder="Search...">
        <button class="search-button" type="submit">🔍</button>
    </div>

<!--Account cards-->
{% if accounts %}
{% for account in accounts %}
<div class="card">
    <div class="card-body">
            <span>{{ account.username }} {{account.number}}          
              <button type="button" class="btn btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Set
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('manager_accounts_update_number',username=account.username, update_number = 1)}}">Priority 1</a></li>
              <li><a class="dropdown-item" href="{{url_for('manager_accounts_update_number',username=account.username,update_number = 2)}}">Priority 2</a></li>
              <li><a class="dropdown-item" href="{{url_for('manager_accounts_update_number',username=account.username,update_number = 3)}}">Priority 3</a></li>
            </ul><br></span>
    </div>
{% endfor %}
</div>
{% else %}
<p>No accounts found.</p>
{% endif %}


<!--Page buttons-->
<div>
    <button>&laquo;</button>
    page
    <button>&raquo;</button>
</div>

{% endblock %}

