{%extends "base_manager.html"%}

{% block content %}
<!--Filter Dropdown button-->
<style>
  .contents{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
    width: 80%;
    border-radius: 8px;
    margin-top: 20px;
    height: 800px;
    padding: 20px;
  }

  .top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .top-buttons{
    display: flex;
    gap: 10px;
  }

  .search-container{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .search-input{
    padding: 5px 10px;
    height: 40px;
  }

  .search-button{
    height: 40px;
    padding: 5px 10px;
  }

  .card{
    width: 65%;
    margin-top: 10px;
  }

  .card-container{
    margin-left: 30%;
  }

  .card-contents{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }


  .card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  .title{
    font-weight: bold;
    text-align: center;
  }

  .page-button{

    text-align: center;
  }

  .account-name{
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  .account-name:hover{
    color:darkgray
  }



  

</style>

<div class = "contents">
  <div>
    <h4 class="title">Accounts Priority Settings</h4>
  </div>
  <div class = "top-bar">
    <div class = "top-buttons">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_filter',filter_number = 1)}}">Priority 1</a></li>
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_filter',filter_number = 2)}}">Priority 2</a></li>
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_filter',filter_number = 3)}}">Priority 3</a></li>
          </ul>
        </div>

<!--Sort Dropdown button-->
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Sort
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_sort_low_high')}}">Alphabet Low-High</a></li>
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_sort_high_low')}}">Alphabet High-Low</a></li>
          </ul>
        </div>
    </div>

<!--Search Box-->
<form action="{{url_for('manager_accounts_search')}}" method = "GET">
        <input type="text" class="search-input" name="query" placeholder="Search...">
        <button class="search-button" type="submit" >🔍</button>
  </form>
</div>

<!--Account cards-->
<div class="card-container">
{% if accounts %}
    {% for account in accounts %}
        <div class="card">
            <div class="card-body">
                <div class = "card-contents">
                    <a href="{{ url_for('manager_lisgings_user', id=account.id) }}" class = "account-name">{{ account.username }}</a>
                    <span class = "priority">Priority: {{ account.priority }}</span>
                </div>
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Set Priority
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('manager_accounts_update_number', username=account.username, update_number=1) }}">Priority 1</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('manager_accounts_update_number', username=account.username, update_number=2) }}">Priority 2</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('manager_accounts_update_number', username=account.username, update_number=3) }}">Priority 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
      
    {% endfor %}
{% else %}
    <p>No accounts found with this priority.</p>
{% endif %}
</div>  
<!--Page buttons-->
<div class="page-button">
  {% if accounts.has_prev %}
    <a href="{{ url_for('manager_accounts', page=accounts.prev_num) }}">&laquo; </a>
  {% endif %}

   Page : {{ accounts.page }} / {{ accounts.pages }}

  {% if accounts.has_next %}

    <a href="{{ url_for('manager_accounts', page=accounts.next_num) }}"> &raquo;</a>
  {% endif %}
  </div>
</div>


{% endblock %}

