{% extends "base_manager.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card p-4 border-0 shadow-sm">
        <h4 class="fw-bold mb-3">Expert Availability Assignment</h4>

        <div class="row">
            <!-- Left Section: Expert List with Availability -->
            <div class="col-md-6">
                <div class="card border-0 shadow-sm p-3">
                    <h5 class="fw-semibold">Experts</h5>
                    
                </div>
            </div>
        </div>


{% endblock %}






