{% extends "base_manager.html" %}

{% block content %}
<!--Pie chart card-->
<div class="container">
    <div class="row">
        <div class="card">
          <img src="data:image/png;base64,{{img_data}}" class="card-img-top" alt="...">
          <div class="card-body">
            <div>
                <p class="card-text">Total Revenue: £</p>
                <p class="card-text">Generated Income: £{{ratio[0]}}</p>
                <p class="card-text">Percentage generated: £</p>
            </div>
            <div>
            <p class="card-text">Cost per posting: <button>edit</button></p>
            <p class="card-text">Expert Payment: <button>edit</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}