{%extends "base_manager.html"%}

{% block content %}
<!--Filter Dropdown button-->
<h4 class="title">Accounts Priority Settings</h4>
<div class="contents">
<div class = "statistics-card">
  <div class = "top-bar">
    <div class = "top-buttons">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_filter',filter_number = 1)}}">Priority 1</a></li>
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_filter',filter_number = 2)}}">Priority 2</a></li>
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_filter',filter_number = 3)}}">Priority 3</a></li>
          </ul>
        </div>

<!--Sort Dropdown button-->
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Sort
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_sort_low_high')}}">Alphabet Low-High</a></li>
            <li><a class="dropdown-item" href="{{url_for('manager_accounts_sort_high_low')}}">Alphabet High-Low</a></li>
          </ul>
        </div>
    </div>

<!--Search Box-->
<form action="{{url_for('manager_accounts_search')}}" method = "GET">
        <input type="text" class="search-input" name="query" placeholder="Search...">
        <button class="search-button" type="submit" >🔍</button>
  </form>
</div>

<!--Account cards-->
<div class="card-container">
{% if accounts %}
    {% for account in accounts %}
        <div class="card">
            <div class="card-body">
                <div class = "card-contents">
                    <a href="{{ url_for('manager_listings_user', id=account.id) }}" class = "account-name">{{ account.username }}</a>
                    <span class = "priority">Priority: {{ account.priority }}</span>
                </div>
                <div class="priority-dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Set Priority
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('manager_accounts_update_number', username=account.username, update_number=1) }}">Priority 1</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('manager_accounts_update_number', username=account.username, update_number=2) }}">Priority 2</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('manager_accounts_update_number', username=account.username, update_number=3) }}">Priority 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
      
    {% endfor %}
{% else %}
    <p class = "error-message">No accounts found with this priority.</p>
{% endif %}
</div>  
<!--Page buttons-->
<div class="page-button">
  {% if accounts.has_prev %}
    <a href="{{ url_for('manager_accounts', page=accounts.prev_num) }}">&laquo; </a>
  {% endif %}

   Page : {{ accounts.page }} / {{ accounts.pages }}

  {% if accounts.has_next %}

    <a href="{{ url_for('manager_accounts', page=accounts.next_num) }}"> &raquo;</a>
  {% endif %}
  </div>
</div>
</div>


{% endblock %}
