{% extends "base_manager.html" %}

{% block content %}

<h1 class="title">Weekly Cost</h1>
<div class="contents">
    <div class="statistics-card">
        <div class="statistics-dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select Chart
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('manager_statistics')}}">Weekly Income</a></li>
              <li><a class="dropdown-item" href="{{url_for('manager_statistics_cost')}}">Weekly Breakdown</a></li>
            </ul>

          </div>
          <img src="data:image/png;base64,{{img_data}}" class="stats-card-img-top" alt="...">
          <div class="statistics-card-body">
            <table class="statistics-table">
              <thead class="table-light">
                  <tr>
                      <th>Total Revenue</th>
                      <th>Generated Income</th>
                      <th>Site Fee Percentage(%)</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>{{ total_revenue }}</td>
                      <td>{{ total_profit }}</td>
                      <td>{{ generated_percentage }}</td>


                  </tr>
              </tbody>
            </table>

            <div class="statistics-card-edit">
                <p class="statistics-form-text">Perecentage per posting: </p>
            <div class="statistics-edit-button">
              <form action="{{url_for('manager_statistics_edit')}}" method="POST" class="statistics-cost-form">
                <input placeholder="Edit Percentage" name="site" type="float" class="statistics-cost-input">
                <button class="btn btn-success cost-button" type="submit">Edit</button>
            </form>
          </div>
        </div>      
      </div>
    </div>
  </div>             
{% endblock %}