{% extends "base_manager.html" %}

{% block content %}
<style>
  .card{
    margin-top: 20px;
  }

  .title{
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
  }

  .card-text{
    font-weight:bold;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown{
    margin-left: auto;
    margin-right: 120px;
  }

  .table{
    width: 80%;
    text-align: center;
    margin-right: 5%;
    margin-left: 12%;

  }

.cost-form {
  display: inline-flex;  
  align-items: center;   
}

.cost-input {
  margin-right: 10px;  
}



</style>


<div class="container">
    <div class="row">
        <div class="card">
          <h4 class="title">Weekly Revenue</h4>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select Chart
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('manager_statistics')}}">Weekly Revenue</a></li>
              <li><a class="dropdown-item" href="{{url_for('manager_statistics_cost')}}">Weekly Cost</a></li>
            </ul>
          </div>
          <img src="data:image/png;base64,{{img_data}}" class="card-img-top" alt="...">
          <div class="card-body">
            <table class="table table-hover">
              <thead class="table-light">
                  <tr>
                      <th>Total Revenue</th>
                      <th>Generated Income</th>
                      <th>Site Fee Percentage(%)</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>{{ total_revenue }}</td>
                      <td>{{ total_profit }}</td>
                      <td>{{ generated_percentage }}</td>


                  </tr>
              </tbody>
            </table>

            <div>
              <span>
                <p class="card-text">Percentage per posting:</p>
              </span>
              <span>
                <form action="{{url_for('manager_statistics_edit')}}" method="POST" class="cost-form">
                  <input placeholder="Edit Percentage" name="site" type="float" class="cost-input">
                  <button class="btn btn-success cost-button" type="submit">Edit</button>
                </form>
              </span>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}