<!-- User Listings Page, see listed items -->
{% extends 'base_user.html' %}
{% block content %}
<body class="container-fluid bg-light">

    <div class="row vh-100">
        <!-- Sidebar -->
        <form class="col-md-3 col-lg-2 bg-white shadow-sm p-4"  action="{{ url_for('account') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="sidebar">{{ form.info(class="btn btn-outline-secondary custom-button") }}</div>
            <div class="sidebar">{{ form.my_bids(class="btn btn-outline-secondary custom-button") }}</div>
            <div class="sidebar">{{ form.my_listings(class="btn btn-outline-secondary custom-button") }}</div>
            <div class="sidebar">{{ form.watchlist(class="btn btn-outline-secondary custom-button") }}</div>
            <div class="sidebar">{{ form.past_orders(class="btn btn-outline-secondary custom-button") }}</div>
            <div class="sidebar">{{ form.notifications(class="btn btn-outline-secondary custom-button") }}</div>
            <div class="sidebar">{{ form.logout(class="btn btn-outline-secondary custom-button") }}</div>
        </form>

        <!-- Content Area -->
        <div class="col-md-9 col-lg-10 p-5">
            <h2 class="mb-4">My Listings</h2>

            {% if items %}
                <div class="row row-cols-3 row-cols-md-4 g-4">
                    {% for item in items %}
                    <div class="col gallery">
                        <div class="card h-100 {{ 'expired-item' if item.time_left.total_seconds() <= 0 and item.item_id not in waiting_list else '' }}">
                            <img src="{{ url_for('static', filename='images/items/' + item.item_image) }}" 
                                class="card-img-top" alt="{{ item.item_name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.item_name }}</h5>
                                <p class="card-text">Starting Price: £{{ item.minimum_price }}</p>
                                <p class="card-text">Current Highest Bid: 
                                    {% if item_bids[item.item_id] is none %}
                                        No bids yet
                                    {% else %}
                                        £{{ item_bids[item.item_id] }}
                                    {% endif %}
                                </p>
                                <p class="countdown">Time Left: 
                                    {% if item.expiration_time %}
                                        <span class="time_left {{ 'expired-text' if item.time_left.total_seconds() <= 0 else '' }}"
                                            data-item-id="{{ item.item_id }}"
                                            data-expiration="{{ item.expiration_time.strftime('%Y-%m-%dT%H:%M:%S') }}">
                                        </span>
                                    {% else %}
                                        <span>No expiration time set.</span>
                                    {% endif %}
                                </p>
                                
                                <p class="card-text shipping">Shipping Price: £{{ item.shipping_cost }}</p>                       
                                {% if item.item_id in waiting_list %}
                                    <p class="card-text text-warning">Waiting for authentication.</p>
                                {% endif %}
                                <a href="{{ url_for('user_item_details', item_id=item.item_id) }}" class="btn btn-primary">
                                    View Details
                                </a>
                            </div>
                        </div>   
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center text-muted">No items listed</p>
            {% endif %}
        </div>
    </div>

</body>
{% endblock %}
