{% extends "base_user.html" %}

{% block content %}
<div class="container">
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
        {% for category, message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h2>{{ item.item_name }}</h2>
    <img src="{{ url_for('static', filename='images/items/' + item.item_image) }}" 
         class="img-fluid" alt="{{ item.item_name }}">
    
    <p>Description: {{ item.description }}</p>
    <p>Starting Price: £{{ item.minimum_price }}</p>
    <p>Current Highest Bid: 
        {% if highest_bid == "No bids yet" %}
            No bids yet
        {% else %}
        <span id="highest_bid" data-item-id="{{ item.item_id }}">£{{ highest_bid }}</span>
        {% endif %}
    </p>

    

    <p>Shipping Price: £{{ item.shipping_cost }}</p>
    <p>Listing Time: {{ item.date_time.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    <p>Expires On: {{ item.expiration_time.strftime('%Y-%m-%d %H:%M:%S') }}</p>

    <p>Time Left: 
        {% if item.time_left.total_seconds() > 0 %}
            {{ item.time_left.days }} days,
            {{ item.time_left.seconds // 3600 }} hours,
            {{ (item.time_left.seconds // 60) % 60 }} minutes,
            {{ item.time_left.seconds % 60 }} seconds
        {% else %}
            Expired
        {% endif %}
    </p>

    <!-- Bidding Form -->
    <form onsubmit="event.preventDefault(); placeBid({{ item.item_id }});">
        <div class="form-group">
            <label for="bid_amount">Enter Bid</label>
            <div class="input-group">
                <span class="input-group-text">£</span>
                <input type="number" id="bid_amount" class="form-control" placeholder="0.00" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Place Bid</button>
    </form>

    <a href="{{ url_for('user_home') }}" class="btn btn-secondary">Back to Listings</a>
</div>
{% endblock %}
