<!-- User Home Page, see all items and sort through them -->
{% extends "base_user.html" %}
{% block content %}
    <h3>Hello {{ current_user.username }}</h3>

    <!-- Sort items dynamically using js -->
    <select id="items_dropdown" class="form-select">
        <option value="all">Show All</option>
        <option value="min_price">Price: Low to High</option>
        <option value="name_asc">Name: A-Z</option>
    </select>

    <div id="items_sort"  class="row row-cols-3 row-cols-md-5 g-4">
        {% if items %}
            {% for item in items %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='images/items/' + item.item_image) }}" 
                        class="card-img-top" alt="{{ item.item_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.item_name }}</h5>
                        <!--
                            <p class="card-text">Description: {{ item.description }}</p>
                        -->
                        {% if item.approved %}
                            <span class="badge bg-success">Approved</span>
                        {% endif %}
                        <p class="card-text">Starting Price: £{{ item.minimum_price }}</p>
                        <p class="card-text">Current Highest Bid: 
                            {% if item_bids[item.item_id] is none %}
                                No bids yet
                            {% else %}
                                £{{ item_bids[item.item_id] }}
                            {% endif %}
                        </p>
                        <p class="card-text">Shipping Price: £{{ item.shipping_cost }}</p>
                        
                        <p>Time Left: 
                            <span class="time_left"
                                  data-item-id="{{ item.item_id }}"
                                  data-expiration="{{ item.expiration_time.strftime('%Y-%m-%dT%H:%M:%S') }}">
                            </span>
                        </p>    
                        
                        <a href="{{ url_for('user_item_details', item_id=item.item_id) }}" class="btn btn-primary">
                            View Details
                        </a>
                        {% if item in current_user.watchlist %}
                            <span class="fa fa-heart selected" data-value="{{ current_user.watchlist | default(0) }}"
                                data-item-id="{{ item.item_id }}"></span>
                            <input type="hidden" id="heart_Value" name="watch" value="1">
                            <input type="hidden" id="item_id" name="item_id" value="{{ item.item_id}}">
                        {% else %}
                            <span class="fa fa-heart " data-value="{{ current_user.watchlist | default(0) }}"
                                data-item-id="{{ item.item_id }}"></span>
                            <input type="hidden" id="heart_Value" name="watch" value="0">
                            <input type="hidden" id="item_id" name="item_id" value="{{ item.item_id}}">
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center text-muted">No items listed</p>
        {% endif %}
    </div>

    <!-- Pagination buttons (optional)
    <div>
        <button>&laquo;</button>
        page
        <button>&raquo;</button>
    </div> -->
{% endblock %}
