<!-- User Account Page, see user information -->
{% extends 'base_user.html' %}
{% block content %}
<body class="container-fluid bg-light">

    <div class="row vh-100">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 bg-white shadow-sm p-4">
            <div class="d-grid gap-2">
                <form action="{{ url_for('account') }}" method="post">
                    {{ sidebar_form.hidden_tag() }}
                    <div>{{ sidebar_form.info(class="btn btn-outline-secondary custom-button") }}</div>
                    <div>{{ sidebar_form.my_listings(class="btn btn-outline-secondary custom-button") }}</div>
                    <div>{{ sidebar_form.watchlist(class="btn btn-outline-secondary custom-button") }}</div>
                    <div>{{ sidebar_form.notifications(class="btn btn-outline-secondary custom-button") }}</div>
                    <div>{{ sidebar_form.logout(class="btn btn-outline-secondary custom-button") }}</div>
                </form>
            </div>
        </div>

        <!-- Content Area -->
        <div class="col-md-9 col-lg-10 p-5">
            <h2 class="mb-4">My Info</h2>

            <h4>Update Information:</h4>

            <form action="{{ url_for('account') }}" method="post">
                {{ info_form.hidden_tag() }}
                <div class="mb-3 row">
                    {{ info_form.first_name.label(class="col-sm-2 col-form-label")}}
                    {{ info_form.first_name(class="col-sm-6")}}
                    {% for error in info_form.first_name.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
    
                <div class="mb-3 row">
                    {{ info_form.last_name.label(class="col-sm-2 col-form-label")}}
                    {{ info_form.last_name(class="col-sm-6")}}
                    {% for error in info_form.last_name.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                    <div class="col-sm-2">
                        {{ info_form.update_info(class="btn btn-outline-primary") }}
                    </div>
                </div>
            </form>
            
            <form action="{{ url_for('account') }}" method="post">
                {{ username_form.hidden_tag() }}
                <div class="mb-3 row">
                    {{ username_form.username.label(class="col-sm-2 col-form-label")}}
                    {{ username_form.username(class="col-sm-6")}}
                    {% for error in username_form.username.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                    <div class="col-sm-2">
                        {{ username_form.update_username(class="btn btn-outline-primary") }}
                    </div>
                </div>
            </form>

            <form action="{{ url_for('account') }}" method="post">
                {{email_form.hidden_tag() }}
                <div class="mb-3 row">
                    {{ email_form.email.label(class="col-sm-2 col-form-label")}}
                    {{ email_form.email(class="col-sm-6")}}
                    {% for error in email_form.email.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                    <div class="col-sm-2">
                        {{ email_form.update_email(class="btn btn-outline-primary") }}
                    </div>
                </div>
            </form>
            

            <h4>Change Password:</h4>

            <form action="{{ url_for('account') }}" method="post">
                {{ password_form.hidden_tag() }}

                <div class="mb-3 row">
                    {{ password_form.new_password.label(class="col-sm-2 col-form-label")}}
                    {{ password_form.new_password(class="col-sm-6")}}
                    {% for error in password_form.new_password.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>

                <div class="mb-3 row">
                    {{ password_form.confirm_password.label(class="col-sm-2 col-form-label")}}
                    {{ password_form.confirm_password(class="col-sm-6")}}
                    {% for error in password_form.confirm_password.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                    <div class="col-sm-2">
                        {{ password_form.update_privacy(class="btn btn-outline-primary") }}
                    </div>
                </div>
            </form>

            <h4>Card and Shipping Information:</h4>

            <form action="{{ url_for('account') }}" method="post">
                {{ card_form.hidden_tag() }}

                <div class="mb-3 row">
                    {{ card_form.card_number.label(class="col-sm-2 col-form-label")}}
                    {{ card_form.card_number(class="col-sm-6")}}
                </div>

                <div class="mb-3 row">
                    {{ card_form.shipping_address.label(class="col-sm-2 col-form-label")}}
                    {{ card_form.shipping_address(class="col-sm-6")}}
                    <div class="col-sm-2">
                        {{ card_form.update_card(class="btn btn-outline-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
</html>
