<!-- User List Item Page, be able to list an item -->
{% extends "base_user.html" %}
{% block content %}
    <div class="container mt-5">
        <h2 class="page-title">List an Item</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            
            <div class="mb-3">
                {{ form.item_name.label(class="form-label bold") }}
                {{ form.item_name(class="form-control") }}
            </div>
            
            <div class="mb-3">
                {{ form.description.label(class="form-label bold") }}
                {{ form.description(class="form-control") }}
            </div>

            <!-- Category Dropdown -->
            <div class="mb-3">
                {{ form.category.label(class="form-label bold") }}
                <select class="form-select" name="{{ form.category.name }}" id="category-select" style="color: #6c757d;">
                    <option value="" disabled selected style="color: #6c757d;">Select an item</option>
                    {% for value, label in form.category.choices %}
                        <option value="{{ value }}" {% if form.category.data == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="mb-3">
                <div class="form-group">
                    <label class="bold" for="minimum_price">Starting price</label>
                    <div class="input-group">
                        <span class="input-group-text">£</span>
                        {{ form.minimum_price(class="form-control", id="minimum_price", placeholder="0.00") }}
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                {{ form.item_image.label(class="form-label bold") }}
                {{ form.item_image(class="form-control") }}
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="mb-4">
                        {{ form.days.label(class="form-label bold") }}
                        {{ form.days(class="form-select") }}
                    </div>
                </div>
                <div class="col">
                    <div class="mb-4">
                        {{ form.hours.label(class="form-label bold") }}
                        {{ form.hours(class="form-select") }}
                    </div>
                </div>
                <div class="col">    
                    <div class="mb-4">
                        {{ form.minutes.label(class="form-label bold") }}
                        {{ form.minutes(class="form-select") }}
                    </div> 
                </div>               
            </div>
            
            <div class="mb-3">
                <div class="form-group">
                    <label class="bold" for="shipping_cost">Shipping cost</label>
                    <div class="input-group">
                        <span class="input-group-text">£</span>
                        {{ form.shipping_cost(class="form-control", id="shipping_cost", placeholder="0.00") }}
        
                    </div>
                </div>
            </div>

            <!-- Authenticate check -->
            <div class="mb-3">
                <div class="form-check custom-checkbox">
                {{ form.authenticate(class="form-check-input") }}
                {{ form.authenticate.label(class="form-check-label bold") }}
                </div>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">List Item</button>
            </div>
        </form>
    </div>
{% endblock %}
