<!-- User List Item Page, be able to list an item -->
<!-- Params: pageTitle, userName -->

{% extends "base_user.html" %}

{% block content %}

    <div class="container mt-5">
        <h2>List an Item</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            
            <div class="mb-3">
                {{ form.item_name.label(class="form-label") }}
                {{ form.item_name(class="form-control") }}
            </div>
            
            <div class="mb-3">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control") }}
            </div>
            
            <div class="form-group">
                <label for="minimum_price">Starting price</label>
                <div class="input-group">
                    <span class="input-group-text">£</span>
                    {{ form.minimum_price(class="form-control", id="minimum_price", placeholder="0.00") }}
                </div>
            </div>
            
            
            <div class="mb-3">
                {{ form.item_image.label(class="form-label") }}
                {{ form.item_image(class="form-control") }}
            </div>
            
            <div class="mb-3">
                {{ form.days.label(class="form-label") }}
                {{ form.days(class="form-select") }}
            </div>
            
            <div class="mb-3">
                {{ form.hours.label(class="form-label") }}
                {{ form.hours(class="form-select") }}
            </div>
            
            <div class="mb-3">
                {{ form.minutes.label(class="form-label") }}
                {{ form.minutes(class="form-select") }}
            </div>            
            
            <div class="form-group">
                <label for="shipping_cost">Shipping cost</label>
                <div class="input-group">
                    <span class="input-group-text">£</span>
                    {{ form.shipping_cost(class="form-control", id="shipping_cost", placeholder="0.00") }}
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">List Item</button>

            <!-- Authenticate button -->
            <button type="submit" name="authenticate" class="btn btn-secondary">Authenticate</button>

        </form>
    </div>
{% endblock %}
