{% extends "base_user.html" %}

{% block content %}
    <h3>Hello {{ current_user.username }}</h3>

    <div class="row row-cols-3 row-cols-md-5 g-4">
        {% for item in items %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/items/' + item.item_image) }}" 
                     class="card-img-top" alt="{{ item.item_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.item_name }}</h5>
                    <p class="card-text">Start Time: {{ item.time.strftime('%H:%M') }}</p>
                    <p class="card-text">Price: £{{ item.minimum_price }}</p>
                    <input type="button" value="Bid">
                    <span class="fa fa-heart" ></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination buttons (optional)
    <div>
        <button>&laquo;</button>
        page
        <button>&raquo;</button>
    </div> -->
{% endblock %}
